<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Bootstrap JQuery and Popper-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<title>LTAT - Online Forum</title>

<link href="/css/homepage.css" rel="stylesheet">
</head>
<body class="text-center">
  <div class="wrapper">
    <div class="cover-container d-flex  p-3 mx-auto flex-column">
  <header class="masthead">
    <div class="inner">
      <h3 class="masthead-brand">LTAT</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= username %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">My Account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item logout" href="/logout">Log Out</a>
            </div>
        </li>
      </nav>
    </div>
  </header>
</div>
  <main role="main" class="inner cover">
    <h1 class="heading">Let's Talk About What?</h1>
    <p class="lead">This is where forum subjects will be displayed</p>
    <p>Welcome <%= username %></p>

    <!-- Forum List -->
    <div class="inner-main-body p-sm-3 collapse forum-content show">
      <button class="create-post">Create Post</button>
      <% for (i=0; i<postsArr.length; i++) {  %>
      <div class="card mb-2">
          <div class="card-body p-2 p-sm-3">
              <div class="media forum-item">
                  <div class="media-body">
                      <h6 class="topic-title" name="topic_title"><%= postsArr[i]["topic_title"] %></h6>
                      <p class="post-title" name="post_title"><strong><%= postsArr[i]["post_title"] %></strong></p>
                      <p class="post-description" name="post_description">
                        <%= postsArr[i]["post_content"] %>
                      </p>
                      <p class="post-author" name="post_author"><%= postsArr[i]["post_author"] %></p>
                      <p class="text-muted"><a href="#">Join Conversation</a></p>
                  </div>
              </div>
          </div>
      </div>
      <% } %>
  </div>
  <!-- /Forum List -->
  </main>
</div>


    <footer class="mastfoot mt-auto">
    <div class="inner">
      <p></p>
    </div>
  </footer>

</body>
</html>